{% extends 'home.html' %}
{% load static %}
{% load ecomtag %}
{% block head_js%}
<title>details</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#commenters").on("click", ".reply", function(event){
                event.preventDefault();
                var form = $("#postcomment").clone(true);
                form.find('.parent').val($(this).parent().parent().attr('id'));
                $(this).parent().append(form);
            });
        });
    </script>
    <style>
        a {
            font-weight: bold;
            color: #121310;
            text-decoration: none;
        }
 
        a:hover {
            text-decoration: none;
        }
        
        #commenters {
            padding-left: 0px;
        }
        
            #commenters li {
                list-style-type: none;
            }
        
        .poster {
            font-size: 12px;
            color: #AAAAAA;
        }
        
        #postcomment ul {
            padding-left: 0px;
        }
        
            #postcomment ul li {
                list-style-type:  none;
                padding-bottom: 5px;
            }
                
        #postcomment label {
            width: 60px;
            display: inline-block;
        }
        
        .c {
            font-size: 14px;
            background: #fcf9f9;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            color: #FFFFFF;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
                {% block container %}
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{%url 'home'%}">Home</a></li>
                            <li class="active">Blog Details </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Li's Main Blog Page Area -->
            <div class="li-main-blog-page li-main-blog-details-page pt-60 pb-60 pb-sm-45 pb-xs-45">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Blog Sidebar Area -->
                        <div class="col-lg-3 order-lg-1 order-2">
                            <div class="li-blog-sidebar-wrapper">
                                <div class="li-blog-sidebar">
                                    <div class="li-sidebar-search-form">
                                        <form action="{%url 'Search'%}" method="post">
                                            {%csrf_token%}
                                            <input type="text" id = "q" name="q" class="li-search-field" placeholder="search here">
                                            <button type="submit" class="li-search-btn"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="li-blog-sidebar pt-25">
                                    <h4 class="li-blog-sidebar-title">Categories</h4>
                                    <ul class="li-blog-archive">
                                       
                                        {% for r in bloggrids %}
                                        <li><a href="{%url 'category_product' id=r.id slug=r.id %}">{{r.blogcategory}}</a></li>
                                        {% endfor %}
                                       
                                    </ul>
                                </div>
                               
                                <div class="li-blog-sidebar">
                                    <h4 class="li-blog-sidebar-title">Recent Post</h4>
                                        {% for q in recentpost %}
                                    <div class="li-recent-post pb-30">
                                        <div class="li-recent-post-thumb">
                                            <a href="blog-details.html">
                                                <img class="img-full" src="{{q.imageurl}}" alt="Li's Product Image">
                                            </a>
                                        </div>
                                        <div class="li-recent-post-des">
                                            <span><a href="blog-details.html">{{q.title}}</a></span>
                                            <span class="li-post-date">{{q.created_at}}</span>
                                        </div>
                                    </div>
                                        {% endfor %} 
                                    
                                    
                                </div>
                                <div class="li-blog-sidebar">
                                    <h4 class="li-blog-sidebar-title">Tags</h4>
                                    <ul class="li-blog-tags">
                                        {% get_tags as tags %}
                                        {% for tag in tags %}
                                        <li><a href="/blog/?q={{ tag }}">{{tag}}</a></li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Blog Sidebar Area End Here -->
                        <!-- Begin Li's Main Content Area -->
                        <div class="col-lg-9 order-lg-2 order-1">
                            <div class="row li-main-content">
                                <div class="col-lg-12">
                                    <div class="li-blog-single-item pb-30">
                                        <div class="li-blog-banner">
                                            <a href=""><img class="img-full" src="{{bloggrid.imageurl}}" style="height: 500px; width: 500px;" alt=""></a>
                                        </div>
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-25"><a href="#">{{bloggrid.title}}</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>{{bloggrid.authorname}}</a>
                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i>{{comments}}</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i>{{bloggrid.created_at}}</a>
                                                </div>
                                                <p>{{bloggrid.details}}.</p>
                                                <div class="li-blog-blockquote">
                                                    <blockquote>
                                                        <p>{% autoescape off %}
                                                            {{ bloggrid.content }}
                                                            {% endautoescape %}
                                                        </p>
                                                    </blockquote>
                                                </div>
                                                
                                                <div class="li-blog-sharing text-center pt-30">
                                                    <h4>share this post:</h4>
                                                    <a href=""><i class="fa fa-facebook"></i></a>
                                                    <a href=""><i class="fa fa-twitter"></i></a>
                                                    <a href=""><i class="fa fa-pinterest"></i></a>
                                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Begin Li's Blog Comment Section -->
                                   
                                        <h3>comment</h3>
                                        <form id="postcomment" method="post" action="">
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <p><input type="submit" value="Submit" /></p>
                                            
                                        </form>
                                        <ul id="commenters">
                                        {% for c in comment_tree %}     
                                            <li id="{{c.id}}" class="c" style="margin-left:{{c.depth|add:c.depth}}em;">
                                                <p class="poster">{{user.first_name}} - {{c.date}}</p>
                                                <p>{{c.content}}</p>
                                                <p><a href="" class="reply">reply</a></p>
                                                
                                            </li>
                                            
                                        {% empty %}
                                            <li>There are currently no comments. You can be first!</li>
                                        {% endfor %}
                                        
                                        </ul>
                                        
                                    
                                    <!-- Li's Blog Comment Section End Here -->
                                    <!-- Begin Blog comment Box Area -->
                                    
                                    <!-- Blog comment Box Area End Here -->
                                </div>
                            </div>
                        </div>
                        <!-- Li's Main Content Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Li's Main Blog Page Area End Here -->
            {% endblock container %}
            