{%load static%}
{% load ecomtag %}
{%ecom_cat as category%}
{% ecom_set as setting %}
{% ecom_shopcart user.id as productcart %}
{% ecom_totalamount user.id as totalamount %}
{% ecom_totalquantity user.id as totalquantity %}
{% ecom_totalorderquantity user.id as totalorderquantity %}
{% ecom_catgoryproducts as allProds %}

<!-- Begin Header Area -->
<!--setting-->
<header class="li-header-4">
    <!-- Begin Header Top Area -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Begin Header Top Left Area -->
                <div class="col-lg-3 col-md-4">
                    <div class="header-top-left">
                        <ul class="phone-wrap">
                            <li><span>Telephone Enquiry: </span><a href="#">{{setting.phone}}</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top Left Area End Here -->
                <!-- Begin Header Top Right Area -->
                <div class="col-lg-9 col-md-8">
                    <div class="header-top-right">
                        <ul class="ht-menu">
                            <!-- Begin Setting Area -->
                            <li>
                                <div class="ht-setting-trigger"><span>Setting</span></div>
                                <div class="setting ht-setting">
                                    <ul class="ht-setting-list">

                                        {%if user.is_authenticated%} 
                                        <li><a href="">hi {{request.user.username}}</a></li>
                                        <li><a href="{%url 'UserLogout'%}">Logout</a></li>
                                        <li><a href="{%url 'OrderCart'%}">Checkout</a></li>
                                        {%else%}
                                        <li><a href="{%url 'UserLogin'%}">Login</a></li>
                                        <li><a href="{%url 'UserSignUp'%}">Register</a></li>
                                        {%endif%}
                                    </ul>
                                </div>
                            </li>
                            <!-- Setting Area End Here -->
                            <!-- Begin Currency Area -->
                            <li>
                                <span class="currency-selector-wrapper">Currency :</span>
                                <div class="ht-currency-trigger"><span>USD $</span></div>
                                <div class="currency ht-currency">
                                    <ul class="ht-setting-list">
                                        <li><a href="">EUR €</a></li>
                                        <li class="active"><a href="">USD $</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- Currency Area End Here -->
                            <!-- Begin Language Area -->
                            <li>
                                <span class="language-selector-wrapper">Language :</span>
                                <div class="ht-language-trigger"><span>English</span></div>
                                <div class="language ht-language">
                                    <ul class="ht-setting-list">
                                        <li class="active"><a href=""><img
                                                    src="{%static ''%}images/menu/flag-icon/1.jpg" alt="">English</a>
                                        </li>
                                        <li><a href="#"><img src="{%static ''%}images/menu/flag-icon/2.jpg"
                                                    alt="">Français</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- Language Area End Here -->
                        </ul>
                    </div>
                </div>
                <!-- Header Top Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Top Area End Here -->
    <!-- Begin Header Middle Area -->
    <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
        <div class="container">
            <div class="row">
                <!-- Begin Header Logo Area -->
                <div class="col-lg-3">
                    <div class="logo pb-sm-30 pb-xs-30">
                        <a href="{%url 'home'%}">
                            <img src="{{setting.icon.url}}" style="height: 45px; width: 65px;" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header Logo Area End Here -->

                <!-- Begin Header Middle Right Area -->
                <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                    <!-- Begin Header Middle Searchbox Area -->
                    <form action="{%url 'searchView' %}" class="hm-searchbox" method="post">
                        {%csrf_token%}
                        <select name="cat_id" class="nice-select select-search-category">
                            <option value="0">All</option>
                            {%load ecomtag%}
                            {%ecom_cat as category%}
                            {% load mptt_tags %}
                            {% recursetree category %}
                            <option value="{{node.id}}">{{ node.title }}</option> 
                                {% if not node.is_leaf_node %}                     
                            <option value="{{node.id}}">--{{ children }}</option>  
                                {% endif %}
                            {% endrecursetree %}   
                            
                        </select>
                        <input type="text" placeholder="Enter your search key ..." id="query" name="query">
                        <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <!-- Header Middle Searchbox Area End Here -->
                    <!-- Begin Header Middle Right Area -->
                    <div class="header-middle-right">
                        <ul class="hm-menu">
                            <!--Begin Header Middle Wishlist Area-->
                            <li class="hm-wishlist">
                                <a href="{%url 'orderproduct'%}">
                                    <span class="fa fa-shopping-cart">*{{totalorderquantity}}</span>
                                   
                                </a>
                            </li>
                            <!-- Header Middle Wishlist Area End Here -->
                            <!-- Begin Header Mini Cart Area -->
                            
                            <li class="hm-minicart">
                                <div class="hm-minicart-trigger">
                                    <span class="item-icon"></span>
                                    <span class="item-text">${{totalamount}}
                                        <span class="cart-item-count">*{{totalquantity}}</span>
                                    </span>
                                </div>
                                <span></span>
                                <div class="minicart">
                                    <ul class="minicart-product-list">
                                        {% for p in productcart %}
                                        <li>
                                            <a href="" class="minicart-product-image">
                                                <img src="{{p.product.image.url}}" style="height: 30px;">
                                            </a>
                                            <div class="minicart-product-details">
                                            <h6><a href="">{{p.product.title}}</a></h6>
                                                <span>${{p.product.new_price}} x {{p.quantity}}</span>
                                            </div>
                                            <td class="li-product-remove"><a href="{%url 'delete_from_cart' id=p.id%}"><i class="fa fa-times"></i></a></td>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                    <p class="minicart-total">SUBTOTAL: <span>${{totalamount}}</span></p>
                                    <div class="minicart-button">
                                        <a href="{%url 'shop_cart'%}"
                                            class="li-button li-button-fullwidth li-button-dark">
                                            <span>View Full Cart</span>
                                        </a>
                                        <a href="{%url 'OrderCart'%}" class="li-button li-button-fullwidth">
                                            <span>Checkout</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <!-- Header Mini Cart Area End Here -->
                        </ul>
                    </div>
                    <!-- Header Middle Right Area End Here -->
                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->
    <div class="header-bottom header-sticky d-none d-lg-block d-xl-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Header Bottom Menu Area -->
                    <div class="hb-menu">
                        <nav>
                            <ul>
                                <li><a href="{%url 'home'%}">Home</a>

                                </li>
                                <li class="megamenu-holder"><a href="">Shop</a>
                                    <ul class="megamenu hb-megamenu">
                                        <li><a href="">Single Products</a>
                                            <ul>
                                                <li><a href="">Single Product Sale</a></li>
                                               
                                               
                                                
                                               
                                            </ul>
                                        </li>
                                       
                                       
                                    </ul>
                                </li>
                                <li><a href="{%url 'BlogView'%}">Blog</a> </li>
                                

                                <li class="megamenu-static-holder"><a href="{%url 'home'%}">Pages</a>
                                    <ul class="hb-dropdown">
                                       
                                        
                                        <li class="sub-dropdown-holder"><a href="{%url 'home'%}">Other Pages</a>
                                            <ul class="hb-dropdown hb-sub-dropdown">
                                                <li><a href="{%url 'UserSignUp'%}">My Account</a></li>
                                                <li><a href="{%url 'OrderCart'%}">Checkout</a></li>
                                                <li><a href="{%url 'contact_dat'%}">Contact</a></li>
                                                <li><a href="{%url 'about'%}">About Us</a></li>
                                                <li><a href="{%url 'shop_cart'%}">Shopping Cart</a></li>
                                            </ul> 
                                        </li>
                                        
                                    </ul>
                                </li>
                                
                                <li><a href="{%url 'about'%}">About Us</a></li>
                                <li><a href="{%url 'contact_dat'%}">Contact</a></li>
                                
                                
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Bottom Menu Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin Mobile Menu Area -->
    <div class="mobile-menu-area d-lg-none d-xl-none col-12">
        <div class="container">
            <div class="row">
                <div class="mobile-menu">
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End Here -->
</header>
<!-- Header Area End Here -->