{%extends 'home.html'%}
{%load static%}
{% block titlee %}
    single product
{% endblock titlee %}
{% block description %}
    {{setting.description}}
{% endblock description %}
{% block keyword %}
            
{% endblock keyword %}



     


        



           

             {% block container %}

 <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{%url 'home'%}">Home</a></li>
                            <li class="active">Shopping Cart</li>
                        </ul>
                    </div>
                                        <div>
    {%if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{message}}
    </div>
    {% endfor %} {% endif %}
</div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Shopping Cart Area Strat-->
            <div class="Shopping-cart-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="#">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="li-product-remove">remove</th>
                                                <th class="li-product-thumbnail">images</th>
                                                <th class="cart-product-name">Product</th>
                                                <th class="li-product-price">Unit Price</th>
                                                <th class="li-product-quantity">Quantity</th>
                                                <th class="li-product-stock-status">Stock Status</th>
                                                <th class="li-product-subtotal">Total</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in shop_cart_product  %}
                                                
                                          
                                            <tr>
                                                <td class="li-product-remove"><a href="{%url 'delete_from_cart' id=p.id%}"><i class="fa fa-times"></i></a></td>
                                                <td class="li-product-thumbnail"><a href="#"><img src="{{p.product.image.url}}" style="width: 150px; height:150px " alt="Li's Product Image"></a></td>
                                                <td class="li-product-name"><a href="#">{{p.product.title}}</a></td>
                                                
                                                <td class="li-product-price"><span class="amount">${{p.price}}</span></td>
                                                <td class="quantity">
                                                    <label>Quantity</label>
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" value="{{p.quantity}}" type="text">
                                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                    </div>
                                                </td>
                                                <td class="li-product-stock-status">
                                                    {% if p.product.product_status == 'In Stock' %}
                                                    <span class="in-stock">In Stock</span>
                                                    {% else %}
                                                    <span class="out-stock">Out Stock</span>
                                                    {% endif %}
                                                </td>
                                                <td class="product-subtotal"><span class="amount">${{p.amount}}</span></td>
                                            </tr>
                                              {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-5 ml-auto">
                                        <div class="cart-page-total">
                                            <h2>Cart totals</h2>
                                            <ul>
                                                <li>Subtotal <span>$100</span></li>
                                                <li>Total <span>${{totalamount}}</span></li>
                                            </ul>
                                            <a href="{%url 'OrderCart'%}">Proceed to checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Shopping Cart Area End-->



                   {% endblock container %}




                    