        <div class="aside">
            <ul class="list-links">
                <li><a href="{%url 'userprofile'%}">User Profile</a></li>
                <li><a href="{%url 'orderlist'%}">My Orders</a></li>
                <li><a href="{%url 'orderproduct'%}">My Order Product</a></li>
                <li><a href="{%url 'UserComments'%}">My Comments</a></li>
                <li><a href="">My Favorits</a></li>
                <li><a href="{%url 'shop_cart'%}">My Products</a></li>
                <li><a href="{%url 'UserLogout'%}">Logout</a></li>
            </ul>
        </div>